$color-primary: #0eae83;
$color-secondary: #0eae83;
$color-black: #212121;
$color-grey: #414141;
$color-grey-light: #edecec;
$color-white: #fff;

$font-size-default: 18px;
$font-size-small: 10px;
$font-size-medium: 14px;
$font-size-big: 38px;
$font-color-default: #fff;

$header-height: 100px;
$block-user-height: 80px;
$block-text-input-height: 60px;
$block-sidebar-width: 250px;

$padding-size: 10px;
