@import 'custom_bootstrap';
@import 'variables';

// Bootstrap library
@import 'bootstrap/scss/bootstrap';

.Groopy-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Groopy-header {
  background: $color-white;
  height: $header-height;
  box-shadow: 0 0 5px rgba(0,0,0,.1)
}

.Groopy-logo {
  font-size: $font-size-big;
  color: $color-black;
  font-weight: bolder;
  letter-spacing: -1px;
}

.Groopy-chat-wrapper {
  flex: 1;
}

body {
  background: $color-primary;
  color: $font-color-default;
  font-size: $font-size-default;
}
