.PollVote {
  margin-top: 40px; }

.PollElement--vote {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.PollElement {
  display: flex;
  justify-content: center;
  align-items: center; }
  .PollElement .PollElement__title {
    width: 80%;
    padding-right: 10px; }
  .PollElement .Groopy-form__file-upload {
    width: 60px; }
  .PollElement .PollElement__title {
    color: #212121; }
  .PollElement .PollElement__img {
    width: 80px;
    text-align: left; }
    .PollElement .PollElement__img img {
      width: 60px;
      height: 60px;
      border-radius: 50%; }

.PollElement--winner {
  border: 1px solid #eb6b48;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.1);
  background: #fff; }
